.select2.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--single {
    border-color: #ccc;
    outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #ccc;
    outline: 0;
    box-shadow: unset;
}

.select2-container--default .select2-selection--single:hover,
.select2-container--focus .select2-selection--single {
    border-color: #1976d2;
    outline: 0;
    box-shadow: unset;
}

select[multiple] + .select2-container {
    height: auto;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1976d2;
    border: 1px solid #1976d2;
    padding-left: 0px;
    padding-right: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 4px;
    padding-top: 1px;
    padding-right: 2px;
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 0px solid #1976d2;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    line-height: 1.3em;
    color: #fff;
    left: auto;
    right: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #1976d2;
    color: #e0e0e0;
    outline: none;
}

.select2-container--default .select2-results__group {
    background: #ededed;
}