let checkUrl = '{{ checkUrl }}';
let interval = setInterval(() => {
    $.get(checkUrl, {'where': {{ where | json_encode | raw }}}, function (data) {
        if (data.result) {
            clearInterval(interval);
            location.reload();
        }
    });
}, 5000);

