{% block content %}
    {% set logo = data.logo ?? null %}
    {% set company_name = data.company_name ?? null %}
    <div class="wrap-logs">
        <div class="logo-wrap">
            {% if logo is not null %}
                <img src="{{ logo }}" alt="{{ company_name }}">
            {% elseif company_name is not null %}
                {{ company_name }}
            {% endif %}
        </div>
        <div class="alert-block">
            <div class="alert-block-title">Payment pending!</div>
            <div class="alert-block-description">We are waiting for payment gateway confirmation. The
                page will be updated as soon as payment is received.</div>
        </div>

        {% block scripts %}
            <script>
                {% include 'pending.js.twig' with {'where': where, 'checkUrl': checkUrl} %}
            </script>
        {% endblock %}
    </div>
{% endblock %}