var table = $('#logs_table');
var serverSide = true;
var dataLoaded = false;
var jsDateFormat = '{{ DateHelper.getJsSplynxDateFormat() }}';
table.DataTable({
    buttons: dataTableButtons,
    ajax: "{{ Url.toRoute("get-logs-records") }}",
    columns: {{ model.getTableColumnNames() | raw }},
    serverSide: true,
    searchDelay: 1000,
    deferLoading: true,
    responsive: true,
    oLanguage: {
        oPaginate: {
            "sFirst": "<i class='icon-ic_fluent_arrow_previous_24_regular'></i>",
            "sPrevious": "<i class='icon-ic_fluent_chevron_left_24_regular'></i>",
            "sNext": "<i class='icon-ic_fluent_chevron_right_24_regular'></i>",
            "sLast": "<i class='icon-ic_fluent_arrow_next_24_regular'></i>"
        },
        sEmptyTable: "No data available in table",
        sInfo: "Showing _START_ to _END_ of _TOTAL_ entries",
        sInfoEmpty: "Showing 0 to 0 of 0 entries",
        sInfoFiltered: "(filtered from _MAX_ total entries)",
        sInfoPostFix: "",
        sLengthMenu: "Show _MENU_ entries",
        sLoadingRecords: "Loading...",
        sProcessing: "Processing...",
        search: '_INPUT_',
        sSearch: '',
        sSearchPlaceholder: 'Table search',
        sUrl: "",
        sZeroRecords: "No matching records found",
        oAria: {
            "sSortAscending": ": activate to sort column ascending",
            "sSortDescending": ": activate to sort column descending"
        },
    },
    dom: "<'row'<'col-md-12'<'table_title table-title'>>><'row'<'col-md-12'<'dt-actions'<'dt-show-items'l>"
        + "<'dt-search'f><'dt-buttons-wrap'B>r>>><'row dt-under-header'>t<'row justify-content-end under-table'<'info' i>p>",
    order: [[0, 'desc']],
    pageLength: 100,
    destroy: true,
    drawCallback: function (e, settings) {
        let pageHeight = $(this).closest('body').outerHeight();
        let logsHeight = $(this).closest('.wrap-logs').outerHeight();

        $(window).on('click.dtb-collection', function (e) {
            if (pageHeight < logsHeight + 200) {
                $('.dt-button-collection').addClass('dropdown');
            } else {
                $('.dt-button-collection').removeClass('dropdown');
            }
        })

        this.api()
            .columns.adjust()
            .responsive.recalc();

    }
});

$('.dataTables_length select').select2({
    minimumResultsForSearch: -1
});

$('#refresh_log_button').prependTo($('.dt-buttons-wrap'));

table.DataTable().draw();

var logDt = table.DataTable();
$.fn.dataTableExt.afnFiltering.push(
    function (oSettings, aData, iDataIndex) {
        // Skipping if there is no date fields
        if (Object.keys(dateFilters).length == 0) {
            return true;
        }
        let rowScore = true;
        for (var column in dateFilters) {
            let value = aData[column];
            if (dateFilters[column]) {
                let dates = dateFilters[column].split(' - ');
                dates[0] = moment(dates[0], jsDateFormat).format('YYYY-MM-DD');
                dates[1] = moment(dates[1], jsDateFormat).format('YYYY-MM-DD');

                if (!moment(value).isBetween(dates[0] + ' 00:00:00', dates[1] + ' 23:59:59')) {
                    rowScore = false;
                }
            }
        }

        return rowScore;
    }
);

var dateFilters = {};

$(document).on('change', '.date-range-picker-input', function () {
    let column = logDt.columns($(this).attr('name') + ':name');
    let value = $(this).val();
    if (serverSide) {
        // Using DT search to pass data on server
        column.search(value).draw();
    } else {
        logDt.columns().search('');
        dateFilters[column[0]] = value;
        logDt.draw();
    }
});

// Moving selects into datatable
$('#logs_table_filter').append($('#date_selects').children());
// Stretching select column
let dateRangeInput = $('.date-range-picker-input');

table.on('xhr.dt', function (e, settings, json) {
    if (json !== null && json.serverSideEnabled !== undefined && json.serverSideEnabled) {
        logDt.settings()[0].oFeatures.bServerSide = true;
        serverSide = true;
    } else {
        logDt.settings()[0].oFeatures.bServerSide = false;
        serverSide = false;
        let column = logDt.columns(dateRangeInput.attr('name') + ':name');
        let value = dateRangeInput.val();
        logDt.columns().search('');
        dateFilters[column[0]] = value;
        logDt.page.len(logDt.page.len()).draw();
    }
    if (!dataLoaded) {
        dataLoaded = true;

        // Timeout to load rows in datatable
        setTimeout(function () {
            dateRangeInput.change();
        }, 10);
    }
});

$('#refresh_log_button').click(function () {
    reloadLogTable();
});

function reloadLogTable() {
    var table = $('#logs_table').DataTable();
    table.ajax.reload();
}

function showDetailsModal(id) {
    var modalWindow = $('#details_modal');
    modalWindow.modal('show')
        .find('#modalContent')
        .html("<div class='loading-gif'></div>");

    modalWindow.modal('show')
        .find('#modalContent')
        .load('{{ Url.toRoute("get-log-record?id=") }}' + id);
}
