{% block content %}
    <div id="date_selects" style="display:none;">
        {% for name, date in dates %}
            <label class="date-range-picker-label ms-8">
                {{ date }}:
                {{ DateRangePicker.widget({
                    'name': name,
                    'id': 'date' ~ name,
                    'pluginOptions': {
                        'locale': {
                            'format': DateHelper.getJsSplynxDateFormat(),
                            'firstDay': DateHelper.getSplynxFirstDayOfTheWeek()
                        },
                    }
                }) | raw }}
            </label>
        {% endfor %}
    </div>

    <button
        class="btn btn-outline-dark btn-icon me-8"
        id="refresh_log_button"
    >
        <i class="icon-ic_fluent_arrow_clockwise_24_regular"></i>
    </button>

    <div class="card-block">
        <div class="card-block-body">
            <table id="logs_table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    {{ model.generateCodeForTableHead() | raw }}
                </tr>
                </thead>
            </table>
        </div>
    </div>

    {{ modal_begin({
        size: 'modal-lg',
        header: "<h2 class='mt-0'>" ~ Yii.t('app', 'Details') ~ "</h2>",
        id: 'details_modal',
        footer:
        Html.button(Yii.t('app', 'Close'), {
            'class': 'btn close-modal',
            'data-dismiss': "modal",
        })
    }) }}
    <div id='modalContent'></div>
    {{ modal_end() }}

    {% block scripts %}
        <script>
            {% include 'log.js.twig' with {'model': model} %}
        </script>
    {% endblock %}
{% endblock %}
