<style>
    .modal-body {
        min-width: 500px;
        height: 500px;
        width: auto;
        overflow-y: auto;
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .modal-body {
            min-width: auto;
        }
    }

    ul.sidebar-nav a {
        color: #357bf2;
        text-decoration: none;
    }

    ul.sidebar-nav a:hover {
        color: #357bf2;
        text-decoration: none;
    }

    textarea {
        margin-top: 20px;
        padding: 12px;
        resize: none;
    }
</style>

{% if record is empty %}
    <div class="alert alert-danger" role="alert">{{ Yii.t('app', "Record not found") }}</div>
{% else %}
    <div class="card-block">
        <div class="card-block-body">
            <table class="table table-striped dataTable no-footer dtr-inline">
                {% for key, item in record %}
                    {% if propertyParams[key]['show_in_additional_panel'] is empty or propertyParams[key]['show_in_additional_panel'] != true %}
                        <tr>
                            <td><strong>{{ model.getAttributeLabel(key) }}</strong></td>
                            <td>{{ item | raw }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    {% for key, item in record %}
        {% if propertyParams[key]['show_in_additional_panel'] is not empty and propertyParams[key]['show_in_additional_panel'] == true %}
            <div class="card-block">
                <div class="card-block-header"><strong>{{ model.getAttributeLabel(key) }}</strong></div>
                <div class="card-block-body">{{ item | raw }}</div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
