/***********DateRangePicker**************/

.daterangepicker {
    /*top: 40px !important;*/
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.daterangepicker .daterangepicker_input {
    position: relative;
}

.daterangepicker .daterangepicker_input i {
    position: absolute;
    left: 8px;
    top: 7px;
}

.daterangepicker .daterangepicker_input .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%;
}

.daterangepicker .input-mini:hover,
.daterangepicker .input-mini:focus,
.daterangepicker .input-mini.active {
    box-shadow: unset;
    border-color: #1976d2;
    background-color: #fff;
    color: #000;
}

.daterangepicker .drp-calendar th,
.daterangepicker .drp-calendar td {
    width: 32px !important;
    height: 29px !important;
    padding: 5px;
    line-height: 12px !important;
}

.daterangepicker .drp-calendar .today,
.daterangepicker .drp-calendar .in-range {
    background-color: #ebf4f8;
}

.daterangepicker .drp-calendar .start-date,
.daterangepicker .drp-calendar .end-date,
.daterangepicker .drp-calendar .active {
    background-color: #357ebd;
    color: #fff;
}

.daterangepicker .drp-buttons {
    text-align: left !important;
    padding-left: 0 !important;
}

.daterangepicker .drp-buttons .btn {
    text-shadow: none !important;
    outline: none !important;
    font-weight: normal !important;
    margin-left: 0 !important;
}

.daterangepicker .drp-buttons .btn:hover,
.daterangepicker .drp-buttons .btn:focus,
.daterangepicker .drp-buttons .btn:active {
    text-shadow: none !important;
    outline: none !important;
    font-weight: normal !important;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left: 0;
}

.daterangepicker .ranges {
    padding-right: 8px !important;
}

.daterangepicker .ranges li {
    font-size: 13px;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    color: #333;
    padding: 4px 12px !important;
    margin-bottom: 8px;
    cursor: pointer;
}

.daterangepicker .ranges li:hover {
    background: #08c !important;
    border: 1px solid #08c !important;
    color: #fff;
}

.daterangepicker td.today {
    background-color: #f0f9ff;
    color: #333;
}

@media (max-width: 768px) {
    .daterangepicker,
    .daterangepicker.ltr:not(.single),
    .daterangepicker:not(.single) {
        border-radius: 0;
        margin: 0;
        border: none;
        position: fixed !important;
        top: 0 !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
        height: 100% !important;
        overflow: scroll !important;
        padding: 40px 40px;
        width: 100% !important;
        text-align: center;
        margin-left: -1px;
    }

    .daterangepicker.ltr:not(.single) .drp-calendar,
    .daterangepicker:not(.single) .drp-calendar {
        display: inline-block;
        float: none;
    }

    .daterangepicker.ltr:not(.single) .ranges,
    .daterangepicker:not(.single) .ranges {
        display: inline-block;
        float: none;
        vertical-align: top;
        width: calc(234px * 2) !important;
        max-width: 100%;
    }

    .daterangepicker.ltr:not(.single) .ranges ul,
    .daterangepicker:not(.single) .ranges ul {
        width: 100% !important;
    }

    .daterangepicker.ltr:not(.single) .range_inputs,
    .daterangepicker:not(.single) .range_inputs {
        display: flex;
        justify-content: flex-end;
    }

    .daterangepicker.ltr:not(.single) .range_inputs:before,
    .daterangepicker:not(.single) .range_inputs:before {
        content: "×";
        font-size: 18px;
        display: block;
        color: #333;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        z-index: 1;
    }

    .daterangepicker.ltr:not(.single) .range_inputs .cancelBtn,
    .daterangepicker:not(.single) .range_inputs .cancelBtn {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 32px;
        height: 32px;
        border: none !important;
        text-indent: -9999px;
        box-shadow: unset;
        display: block;
        text-align: unset;
        z-index: 2;
        background: transparent;
    }

    .daterangepicker.show-ranges.ltr .drp-calendar.left {
        border-left: 0;
    }
}

@media (max-width: 600px) {
    .daterangepicker:not(.single) {
        padding: 40px 40px;
    }
}

@media (max-width: 565px) {
    .daterangepicker:not(.single) {
        padding: 40px 45px;
    }

    .daterangepicker:not(.single) .range_inputs {
        width: auto;
    }

    .daterangepicker:not(.single) .ranges {
        vertical-align: top;
        width: 100%;
        max-width: 235px;
    }

    .daterangepicker.ltr:not(.single) .drp-calendar,
    .daterangepicker:not(.single) .drp-calendar {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 400px) {
    .daterangepicker:not(.single) {
        padding: 30px 20px;
    }
}
