body {
    font-family: Helvetica, Arial, sans-serif;
    padding-right: 15px;
}

.wrapper {
    padding: 40px 0 40px 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 400px) {
    body {
        padding-right: 0;
    }

    .wrapper {
        padding-left: 0;
    }
}

.center {
    text-align: center;
}

.panel-default {
    border-radius: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
}

.panel-body {
    padding: 15px 15px 20px;
}

.collapse-button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.panel-default > .panel-heading {
    background: none;
    border: none;
}

.panel-heading {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0;
    align-items: center;
}

.panel-heading .collapse-button::before {
    content: url('../images/ic-arrow-drop-down.png');
}

.panel-heading h3 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.btn {
    max-width: 340px;
    width: 100%;
    align-self: flex-end;
    height: 32px;
    text-transform: uppercase;
    border: none;
}

.btn.btn-mw-100 {
    width: auto;
    max-width: 100%;
}

@media (max-width: 600px) {
    .btn.btn-mw-100 {
        white-space: normal;
        height: auto;
    }
}

.btn-success {
    color: #fff !important;
    border: 1px solid #2e7d32 !important;
    background: #2e7d32 !important;
}

.btn-success:focus,
.btn-success:hover {
    background: #229828 !important;
    color: #fff !important;
    border: 1px solid #2e7d32 !important;
    box-shadow: none;
}

.btn-danger {
    color: #fff !important;
    border: 1px solid #d43f3a !important;
    background: #d9534f !important;
}

.btn-danger:focus,
.btn-danger:hover {
    color: #fff !important;
    background: #c9302c !important;
    border: 1px solid #ac2925 !important;
    box-shadow: none;
}

input[type=number], input[type=text] {
    height: 31px;
    border: none;
    border-bottom: solid 1px #616161;
    outline: none;
    padding-left: 8px;
}

input[type=text] {
    padding-right: 8px;
}

input:focus {
    border-bottom: solid 1px #03a9f4;
}

.data-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    white-space: nowrap;
}

.data-row .value {
    border-bottom: 1px solid #616161;
    height: 31px;
    padding: 5px 8px;
}

.control-label {
    padding-top: 5px;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 5px 8px;
}

.form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control, .has-success .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error input {
    border-color: #bf360c;
}

.has-error .help-block {
    color: #dd2c00;
    font-size: 12px;
    margin: 5px 0 0;
}

.has-error .control-label {
    color: inherit;
}

.panel-heading h3,
h3 {
    margin: 0 0 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    flex-direction: column;
}

.cards-container .cards {
    display: flex;
    justify-content: space-around;
    width: fit-content;
    align-self: center;
    flex-wrap: wrap;
    max-width: 505px;
    margin-bottom: 10px;
}

.card-block {
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    width: 240px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.card-block input {
    color: #212121;
    border: none;
    height: auto;
    background: none;
    padding: 1px 4px;
}

.card-block .top input {
    border: 1px solid white;
}

.card-block .bottom input {
    border: 1px solid #fafafa;
}

.card-block .has-error input {
    border-bottom: solid 1px #bf360c;
}

.card-block input:focus, .has-success .form-control:focus {
    border: solid 1px #1976d2;
}

.card-block .has-error input:focus {
    border: solid 1px #bf360c;
}

.card-block input::placeholder {
    color: #e0e0e0;
}

.card-block.card-front .top {
    padding: 10px 12px 4px;
    min-height: 69px;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .name-and-logo {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    width: 100%;
}

.card-block.card-front .top .name-and-logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-block.card-front .top .name-and-logo .name {
    width: 126px;
    align-items: baseline;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .name-and-logo .name img {
    width: auto;
    height: 20px;
}

.card-block.card-front .top .name-and-logo .logo {
    width: 44px;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-front .logo.amex-card {
    background: url(../images/card-logo/amex.svg);
}

.card-front .logo.diners-card {
    background: url(../images/card-logo/diners.svg);
}

.card-front .logo.discover-card {
    background: url(../images/card-logo/discover.svg);
}

.card-front .logo.jcb-card {
    background: url(../images/card-logo/jcb.svg);
}

.card-front .logo.mastercard-card {
    background: url(../images/card-logo/mastercard.svg);
}

.card-front .logo.unionpay-card {
    background: url(../images/card-logo/unionpay.svg);
}

.card-front .logo.visa-card {
    background: url(../images/card-logo/visa.svg);
}

.card-block.card-front .top .name-and-logo img {
    max-width: 100%;
    max-height: 100%;
}

.card-block.card-front .bottom {
    background-color: #fafafa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px 12px;
    flex-grow: 1;
}

.card-block.card-front .bottom .expiry-date-container {
    display: flex;
}

.card-block.card-front .bottom .expiry-date-container label {
    font-weight: normal;
    margin: 0 7px 0 0;
    color: #212121;
    line-height: 16px;
    white-space: nowrap;
}

.card-block.card-front .bottom .expiry-date-container input {
    width: 37px;
}

.card-block.card-front .bottom .card-number-container {
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: 2.1px;
}

.card-block.card-front .bottom input.card-number {
    width: 100%;
    height: 23px;
    font-size: 18px;
    letter-spacing: 1.87px;
}

.card-block.card-back {
    background-color: #fafafa;
    margin-left: 25px;
}

.card-block.card-back .magnet-line {
    height: 32px;
    background-color: #424242;
    margin-top: 32px;
}

.card-block.card-back .bottom {
    padding: 11px 14px;
    display: flex;
}

.card-block.card-back .bottom input {
    width: 70px;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
}

.card-container .card-block {
    margin-bottom: 15px;
}

.cards-container .cards .errors-block {
    color: #dd2c00;
    font-size: 12px;
    width: 100%;
}

@media (max-width: 450px) {
    .cards-container .cards {
        flex-direction: column;
    }

    .cards-container .cards .card-block.card-front {
        margin-bottom: 15px;
    }

    .card-block.card-back {
        margin-left: 0;
    }

    .cards-container {
        width: min-content;
    }
}

.loading {
    position: relative;
}

.loading > * {
}

.loading.async_inline > * {
}

.loading:before {
    position: fixed;
    content: attr(data-content);
    display: flex;
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    color: #1B2124;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 2;
}

.loading:after {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    border: .25em solid #357bf2;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    z-index: 3;
}

.loading.async_inline:after {
    left: auto;
    right: 15px;
    font-size: 1em;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}

/************** design 3.1 *******/

/***for panels inside splynx on pages***/

.panel-default {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border: solid 1px #e0e0e0;
}

.panel-default:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.panel-default .panel-heading {
    border-bottom: 1px solid transparent;
    font-size: 13px;
    padding: 5px 15px 5px;
}

.panel-default.panel-no-border {
    border: none;
    box-shadow: none;
}

.panel-default.panel-no-border .panel-heading {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
    color: #1976d2;
}

.panel .panel-body .panel-danger > .panel-heading,
.panel-danger > .panel-heading {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ebccd1;
    border-color: #ebccd1;
    color: #a94442;
}

.panel .panel-body .panel-primary > .panel-heading,
.panel-primary > .panel-heading {
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.panel-default.panel-no-border > .panel-body {
    padding: 15px;
}

/* for single page payment*/
.pt40 {
    padding-top: 40px;
}

.wrapper .pt40 {
    padding-top: 0;
}

.splynx-holder-payments {
    overflow: hidden;
}

.splynx-holder-payments .payment-details {
    width: 100%;
}

.splynx-holder-payments .payment-details h3 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.splynx-holder-payments .payment-details .form-horizontal {
    width: 80%;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

.panel .panel-body .payment-details .form-horizontal {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group {
    display: flex;
    margin-bottom: 6px;
    align-items: center;
    height: auto;
    min-height: 30px;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group > label {
    width: 35%;
    text-align: left;
    padding-right: 15px;
    margin-bottom: 0;
    font-size: 13px;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder {
    width: 75%;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder input {
    width: 100%;
    border: 1px solid #ccc !important;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .select-holder {
    border: 1px solid #ccc !important;
    width: 100%;
    transition: 0.3s;
    box-shadow: unset;
    flex: 1;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
    position: relative;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .select-holder.disabled-select {
    background: #eee;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .select-holder:after {
    content: "";
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 10px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .select-holder:hover {
    box-shadow: unset;
    border-color: #1976d2 !important;
    background-color: #fff;
    color: #000;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 13px;
    color: #000;
    width: 100%;
    border: none;
    background: none;
    border-radius: 4px;
    padding: 0px 8px;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder input:hover,
.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder input:focus {
    box-shadow: unset;
    border-color: #1976d2 !important;
    background-color: #fff;
    color: #000;
}

.splynx-holder-payments .cards-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.panel .panel-body .cards-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.splynx-holder-payments .cards-wrapper .divider {
    border-right: 1px solid #171a1c;
    margin: 0 25px;
    width: 1px;
    text-align: left;
    text-transform: none;
}

.splynx-holder-payments .cards-wrapper .card-holder {
    display: flex;
    width: 100%;
    flex-flow: column;
    max-width: 360px;
    justify-content: space-between;
}

.splynx-holder-payments .cards-wrapper .card-holder h3 {
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
}

.splynx-holder-payments .cards-wrapper .card-holder .invalid-feedback {
    font-size: 13px;
    width: 100%;
    color: #d9534f;
    margin-top: 12px;
}

.splynx-holder-payments .cards-wrapper .card-holder .btn {
    margin-top: 8px;
    width: 100%;
    max-width: 360px;
}

.splynx-holder-payments .cards-wrapper .card-holder .card {
    background-color: #171a1c;
    border-radius: 1rem;
    color: #9c9c9c;
    padding: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 200px;
    margin-bottom: auto;
}


.splynx-holder-payments .cards-wrapper .card-holder .card .name-and-logo {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    width: 100%;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .name {
    width: 126px;
    align-items: baseline;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .name-and-logo .logo {
    width: 44px;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    font-size: 13px;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    height: auto;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .two-cols {
    flex-direction: row;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group label {
    font-weight: normal;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-size: 12px;
    margin-top: 0;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .form-control {
    font-size: 20px;
    color: #fff;
    background: transparent;
    border: 0;
    width: calc(100% + 16px);
    padding: 0 8px;
    margin-left: -8px;
    outline: none;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.has-error {
    height: auto;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.has-error .form-control,
.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-error .form-control {
    color: #d9534f;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-error input::-webkit-input-placeholder {
    color: #d9534f;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-error input::-moz-placeholder {
    color: #d9534f;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-error input::-ms-input-placeholder {
    color: #d9534f;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-error input::-webkit-input-placeholder {
    color: #d9534f;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.has-success .form-control,
.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .has-success .form-control {
    color: #388e3c;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group .form-control:focus {
    outline: none;
    box-shadow: unset;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group input::-webkit-input-placeholder {
    color: #C7C7C7;
    font-style: italic;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group input::-webkit-input-placeholder {
    color: #C7C7C7;
    font-style: italic;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group input::-moz-placeholder {
    color: #C7C7C7;
    font-style: italic;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group input:-ms-input-placeholder {
    color: #C7C7C7;
    font-style: italic;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols {
    flex-direction: row;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols {
    flex-direction: row;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols .expiration-date-wrapper,
.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols .cvv-code-wrapper {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-control.two-fields {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-fields .form-group {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols .expiration-date-wrapper .expiration-date,
.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols .cvv-code-wrapper .cvv-code {
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.splynx-holder-payments .cards-wrapper .card-holder .card .form-group.two-cols .cvv-code-wrapper label {
    text-align: right;
    padding-right: 15px
}

.splynx-holder-payments .cards-wrapper .card-holder .errors-block {
    color: #d9534f;
    font-size: 12px;
    width: 100%;
}

.splynx-holder-payments .btn-success {
    color: #fff !important;
    border: 1px solid #2e7d32 !important;
    background: #2e7d32 !important;
}

.splynx-holder-payments .btn-success:focus,
.splynx-holder-payments .btn-success:hover {
    background: #229828 !important;
    color: #fff !important;
    border: 1px solid #2e7d32 !important;
    box-shadow: none;
}

.splynx-holder-payments .btn-danger {
    color: #fff !important;
    border: 1px solid #d43f3a !important;
    background: #ac2925 !important;
}

.splynx-holder-payments .btn-danger:focus,
.splynx-holder-payments .btn-danger:hover {
    color: #fff !important;
    background: #c9302c !important;
    border: 1px solid #ac2925 !important;
    box-shadow: none;
}

.spl-switcher {
    display: inline-block;
    width: auto;
    background-color: white;
    border-color: #dfdfdf;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    margin: 15px 0 5px;
}

.spl-switcher input[type="checkbox"] {
    width: 100%;
    display: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}

.spl-switcher .spl-switcher-label {
    font-weight: normal;
    height: 22px;
    vertical-align: middle;
    line-height: 22px;
    margin-left: 8px;
}

.spl-switcher input[type="checkbox"] + label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0 !important;
}

.spl-switcher input[type="checkbox"] + label span.spl-switcher-checkbox {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    position: relative;
    width: 35px;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    vertical-align: top;
}

.spl-switcher input[type="checkbox"] + label span.spl-switcher-checkbox:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    height: 20px;
    width: 20px;
    left: 0;
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}

.spl-switcher input[type="checkbox"]:checked + label span.spl-switcher-checkbox {
    background-color: #1976d2;
    border-color: #1976d2;
    box-shadow: #1976d2 0 0 0 11.5px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.spl-switcher input[type="checkbox"]:checked + label span.spl-switcher-checkbox:before {
    left: 12px;
    background-color: white;
    transition: background-color 0.4s ease 0s, left 0.2s ease 0s;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
}

@media (max-width: 850px) {
    .splynx-holder-payments .cards-wrapper .card-holder {
        max-width: 290px;
    }
}

@media (max-width: 768px) {
    .splynx-holder-payments .payment-details .form-horizontal {
        width: 100%;
        white-space: nowrap;
    }

    .splynx-holder-payments .payment-details .form-horizontal .form-group > label {
        width: 70%
    }

    .splynx-holder-payments .cards-wrapper {
        flex-flow: column;
    }

    .splynx-holder-payments .cards-wrapper .card-holder {
        margin-bottom: 20px;
        max-width: 80%;
        width: 360px;
    }

    .splynx-holder-payments .cards-wrapper .divider {
        width: 100%;
        max-width: 100%;
        margin: 10px 0 30px;
        height: 1px;
        border-right: 0;
        border-top: 1px solid #e0e0e0;
    }
}

@media (max-width: 550px) {
    .splynx-holder-payments .cards-wrapper .card-holder {
        max-width: 360px;
        width: 100%;
    }

    .splynx-holder-payments .payment-details .form-horizontal .form-group {
        flex-flow: wrap;
        height: auto;
    }

    .splynx-holder-payments .payment-details .form-horizontal .form-group > label {
        margin-bottom: 8px;
    }

    .splynx-holder-payments .payment-details .form-horizontal .form-group > label,
    .splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder {
        width: 100%
    }
}


.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .input-group input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    font-size: 10px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    display: block;
    cursor: pointer;
    z-index: 10;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .input-group {
    display: flex;
    flex-direction: row-reverse;

}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .input-group input#file-info {
    border-radius: 4px 0 0 4px;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .input-group .input-group-addon.btn-file {
    border-radius: 0 4px 4px 0;
    width: 50px;
    border-color: #1976d2;
    background: #1976d2;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group .input-holder .input-group .input-group-addon.btn-file i {
    cursor: inherit;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group.has-error .input-holder .input-group input#file-info {
    border-color: #a94442;
}

.splynx-holder-payments .payment-details .form-horizontal .form-group.has-error .input-holder .input-group .input-group-addon.btn-file {
    border-color: #a94442;
    background: #a94442;
}

.has-error .help-block {
    color: #a94442;
}