:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #7D4FFF;
    --bs-pink: #D63384;
    --bs-red: #dc3545;
    --bs-orange: #FD7E14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #357bf2;
    --bs-secondary: #6C757D;
    --bs-success: #29CC97;
    --bs-info: #63B4FF;
    --bs-warning: #FFAF14;
    --bs-danger: #EB5757;
    --bs-light: #E9ECEF;
    --bs-dark: #1B2124;
    --bs-purple: #7D4FFF;
    --bs-font-sans-serif: "Inter", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1B2124;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body.bg-grey {
    background: #F7F8FC;
}

hr {
    margin: 8px 0;
    color: #E9ECEF;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

hr:not([size]) {
    height: 1px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.1;
    color: #1B2124;
}

h2, .h2 {
    font-size: 20px;
    line-height: 28px;
}

h3, .h3 {
    font-size: 18px;
    line-height: 24px;
}

h4, .h4 {
    font-size: 16px;
    line-height: 24px;
}


.text-right {
    text-align: right;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: bold;
}

.color-inherit {
    color: inherit;
}

.color-dark {
    color: var(--bs-dark);
}

.color-white {
    color: var(--bs-white);
}

.color-secondary {
    color: var(--bs-secondary);
}

.color-primary {
    color: #357bf2;
}

.color-purple {
    color: #7D4FFF;
}

.color-success {
    color: var(--bs-success);
}

.color-warning {
    color: var(--bs-warning);
}

.color-danger {
    color: var(--bs-danger);
}

.color-info {
    color: var(--bs-info);
}

.color-pending {
    color: #FD7E14;
}

.color-pink {
    color: var(--bs-pink) !important;
}

.color-primary {
    color: var(--bs-primary);
}

.line-height-24 {
    line-height: 24px !important;
}